# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
.env/

# Python packaging
build/
dist/
*.egg-info/

# Data and logs
logs/
#outputs/
gradcam/
archive/
checkpoints/
wandb/
data/*

# OS and IDE
.DS_Store
.vscode/
.idea/

# Notebooks
.ipynb_checkpoints/
